.container {
    background: blueviolet;
    margin-bottom: 20px;
    padding: 10px;


    display: flex;
    gap: 10px;
}

.item {
    background: yellow;
    padding: 8px;
 /*   order: 10; /*10 porque são 10 itens*/
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    flex-flow: column wrap;
}

.item-04 {
    order: -1;
}

.item-09 {
    order: 7;
}